<h1>Pages#contact</h1>
<p><%= number_to_currency "4356595555" %></p>

<p><%= number_to_percentage "4356595555" %></p>

<p><%= number_to_phone "4356595555" %></p>

<p><%= number_with_delimiter "4356595555" %></p>
