<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">"Such is the future you are capable of winning. It requires a struggle; so does any human value. All life is a purposeful struggle, and your only choice is the choice of a goal... Do you wish to continue a struggle that consists of clinging to precarious ledges in a sliding descent to the abyss, a struggle where the hardships you endure are irreversible and the victories you win bring you closer to destruction? Or do you wish to undertake a struggle that consists of rising from ledge to ledge in a steady ascent to the top, a struggle where the hardships are investments in your future, and the victories bring you irreversibly closer to the world of your moral ideal, and should you die without reaching full sunlight, you will die on a level touched by its rays? Such is the choice before you. Let your mind and your love of existence decide."<br>-John Galt
  </p>

  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>